{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}
- A propos
{% endblock %}

{% block body %}
    <h1>A propos :</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse impedit incidunt labore perspiciatis porro quos
        recusandae saepe sapiente voluptatibus voluptatum? Amet at expedita impedit, perspiciatis
        rerum sint? A, deserunt eaque.</p>
{% endblock %}


