{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil -{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'acceuil</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea
        error facere facilis illo iste, labore,minima nam necessitatibus
        nisi, pariatur perspiciatis quas rem sequi sit soluta sunt voluptatem voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea
        error facere facilis illo iste, labore,minima nam necessitatibus
        nisi, pariatur perspiciatis quas rem sequi sit soluta sunt voluptatem voluptatum.</p>

{% endblock %}

