{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil -{% endblock %}

{% block body %}
    <div>
        {% if app.user%}
            <h1>Hello {{ app.user.pseudo }}! ✅</h1>ph
        {% else%}
            <h1>Bienvenu utilisateur inconnu! ✅</h1>
        {% endif %}
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea
        error facere facilis illo iste, labore,minima nam necessitatibus
        nisi, pariatur perspiciatis quas rem sequi sit soluta sunt voluptatem voluptatum.</p>
{% endblock %}

