{% extends "base.html.twig" %}


{% block title %}{{ parent()}}
    - Liste
    
{% endblock %}

{% block body %}

        <div class="container">
            <h1>Wish List :</h1>
            <ul>
                <li>Wish 1</li>
                <li>Wish 2</li>
                <li>Wish 3</li>
            </ul>
        </div>
{% endblock %}
